<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link th:href="@{/style.css}" rel="stylesheet" type="text/css">
</head>
<body>
<center>
    <div th:replace="header"></div>

    </br>
    </br>

    <div th:style="'color: #228b22'">
        <h3> WELCOME TO HOME PAGE</h3>
    </div>

    </br>
    </br>
    <h3> Use "user" as login and "1" as password for Deleting All Products or Product by Id</h3>

</center>

</br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
<div id="footer" th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>